body{
    width: 2180px;
    background-color: lightgray;
}

main{
    margin: 59px;
}

section{
    background-color: whitesmoke;
}
p, select{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;

}

select{
    margin-top: 92px;
    margin-left: 85px;
    border: none;
    background: none;
    font-size: 27px;
    color: white;
}

input{
    font-size: 20px;
    font-weight: bold;
    margin-left: 80px;
    margin-top: 19px;
    color: white;
}

.opcuno{
    display: block;
}
.opciones{
    display: inline-block;
}
/* Estilo para contenedor de barra de menú principal */
.menu{
    width:1280px;
    height:198px;
    background: rgba(255,176,41,1);
    /* (#fcae2a, #fbd13b); */
}

/* Estilos para contenedores pequeños de overview */
.recuadro-peq{
    width: 348px;
    height: 339px;
    display: inline-block;
    margin-left: 26px;
}

/* Estilo para contenedores grandes de overview */
.req-grande {
    width: 1096px;
    height: 527px;
    display: block;
    margin: 30px;
}

/* Estilo para recuadros pequeños y poder centrarlos */
.central{
    margin:12px;
}

/* Hover sacado de internet (http://ianlunn.github.io/Hover/) */
.hvr-fade {
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    /* atributos extras */
    background: none;
    border: none;
    border-radius: 5px;
  }
  .hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: grey;
    color: white;
  }