<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Estudiantes Laboratoria</title>
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700,900" rel="stylesheet">
  </head>
  <body>

    <header class="menu">
      <img src="../assets/images/logo-laboratoria-blanco.svg" alt="Laboratoria logo">
      <p class="dropdown" onclick="myFunction()">SEDE
        <img src="../assets/icon/down-chevron.png" alt="Ícono">
      </p>
      <div id="myDropdown" class="dropdown-content">
        <select>
          <option></option>
        </select id="filtro" onchange="filtrarElementos(event)">
          <optgroup label="Ciudad de México">
            <option value="cdmx1" data-sede="CDMX" data-generacion="primera">Primera Generación</option>
            <option value="cdmx2" data-sede="CDMX" data-generacion="segunda">Segunda Generación</option>
          </optgroup>
          <optgroup label="Lima">
            <option value="lim1" data-sede="lima" data-generacion="primera">Primera Generación</option>
            <option value="lim2" data-sede="lima" data-generacion="segunda">Segunda Generación</option>
            <option value="lim3" data-sede="lima" data-generacion="tercera">Tercera Generación</option>
          </optgroup>
          <optgroup label="Arequipa">
            <option value="areq1" data-sede="arequipa" data-generacion="primera">Primera Generación</option>
            <option value="areq2" data-sede="arequipa" data-generacion="segunda">Segunda Generación</option>
          </optgroup>
          <optgroup label="Santiago de Lima">
              <option value="sdl1" data-sede="santiago" data-generacion="primera">Primera Generación</option>
              <option value="sdl2" data-sede="santiago" data-generacion="segunda">Segunda Generación</option>
              <option value="sdl3" data-sede="santiago" data-generacion="tercera">Tercera Generación</option>

          </optgroup>
          
          <!-- <ul>
            <li>AREQUIPA</li>
              <ul>
                <li class="generation" onclick="AQP2016II()">2016-II</li>
                <li class="generation" onclick="AQP2017I()">2017-I</li>
              </ul>
            <li class="city">CIUDAD DE MÉXICO</li>
              <ul>
                <li class="generation" onclick="CDMX2017I()">2017-I</li>
                <li class="generation" onclick="CDMX2017II()">2017-II</li>
              </ul>
            <li class="city">LIMA</li>
              <ul>
                <li class="generation" onclick="LIM2016II()">2016-II</li>
                <li class="generation" onclick="LIM2017I()">2017-I</li>
                <li class="generation" onclick="LIM2017II()">2017-II</li>
              </ul>
            <li class="city">SANTIAGO DE CHILE</li>
              <ul>
                <li class="generation" onclick="SCL2016II()">2016-II</li>
                <li class="generation" onclick="SCL2017I()">2017-I</li>
                <li class="generation" onclick="SCL2017II()">2017-II</li>
              </ul>
          </ul> -->
      </div> 

      <ul class="global-menu">
        <li><a href="../views/overview.html">OVERVIEW</a></li>
        <li><a href="../views/students.html">STUDENTS</a></li>
        <li><a href="../views/teachers.html">TEACHERS</a></li>
      </ul>

    </header>

    <div class="overview-container">
      <section class="enrollment">
        <p class="title">ENROLLMENT</p>
        <div class="enrolled">
          <p class="number" id="enrolled-number">120</p>
          <p class="info"># STUDENTS CURRENTLY</p>
          <p>ENROLLED</p>
        </div>
        <div class="dropout">
          <p class="number">20%</p>
          <p class="info">% DROPOUT</p>
        </div>
      </section>

      <section class="achievement">
        <p class="title">ACHIEVEMENT</p>
        <div class="target">
          <p class="number" id="achievement-number">105</p>
          <p class="info"># STUDENTS THAT MEET</p>
          <p>THE TARGET</p>
        </div>
        <div class="total">
          <p class="number">78%</p>
          <p class="info">% OF TOTAL (135)</p>
        </div>
      </section>

      <section class="nps">
        <p class="title">NET PROMOTER SCORE</p>
        <div class="cumulative-nps">
          <p class="number">78%</p>
          <p class="info"># CUMULATIVE NPS</p>
          <p>ENROLLED</p>
        </div>
        <div class="percentages">
          <p class="info">60% Promoters</p>
          <p>30% Passive</p>
          <p>10% Detractors</p>
        </div>
      </section>

      <section class="overview-tech clear">
        <p class="title">TECH SKILLS</p>
        <div class="target-tech">
          <p class="number">90</p>
          <p class="info"># STUDENTS THAT MEET</p>
          <p>THE TARGET</p>
        </div>
        <div class="total-tech">
          <p class="number">62%</p>
          <p class="info">% OF TOTAL (135)</p>
        </div>
      </section>

      <section class="overview-life">
        <p class="title">LIFE SKILLS</p>
        <div class="target-life">
          <p class="number">80</p>
          <p class="info"># OVERALL CLASS AVERAGE</p>
          <p>ENROLLED</p>
        </div>
        <div class="total-life">
          <p class="number">62%</p>
          <p class="info">% OF TOTAL (135)</p>
        </div>
      </section>

      <section class="student-satisfaction">
        <p class="title">STUDENT SATISFACTION</p>
        <div class="cumulative">
          <p class="number">140</p>
          <p class="info"># MEETING OR EXCEEDING</p>
          <p>EXPECTATIONS (CUMULATIVE)</p>
        </div>
      </section>

      <section class="teacher-rating">
        <p class="title">TEACHER RATING</p>
        <div class="cumulative">
          <p class="number">4.2</p>
          <p class="info">OVERALL TEACHER RATING</p>
          <p>(CUMULATIVE)</p>
        </div>
      </section>

      <section class="jedi-rating">
        <p class="title">JEDI MASTER RATING</p>
        <div class="cumulative">
          <p class="number">50</p>
          <p class="info">OVERALL JEDI RATING</p>
          <p>(CUMULATIVE)</p>
        </div>
      </section>

    </div>

  <script src="https://d3js.org/d3.v4.min.js"></script> <!-- d3js -->
  <script type="text/javascript" src="../js/app.js"></script>

  </body>
</html>
